/* write your override styles here */
#wall.tag {
    display: none;
}
div#wall div#tag-2 {
display: none;
}
div#wall div#tag-3slick.wicked {
    display: none
}
div#wall div.parent div#tag-4 {
    display: none;
}
div#wall div.parent div#tag-5{
    display: none;
}
body div#wall div.parent div:last-of-type div#tag-6{
    display: none;
}
body div#wall div.parent div.last-of-type div#tag-7{
    display: none;
}